body {
    font-family: 'DM Sans', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    box-shadow: 0 -1px 0 #000 inset;
    margin-bottom: 20px;
    font-size: large;
}

.header-flex{
    display: block;
    text-align: center;
    background-color: #222831;
    color: #EEEEEE;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 0px 0px 10px 0px; 
}

.profile-container{
    background-color: slategrey;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.profile-container figure h1{
    font-weight: bolder;
}

.profile-container figure{
    font-weight: 600;
}

.profile-container figure img{
    display :flex;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    padding-top: 50px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 40px;
}
.content div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    margin: 30px 40px;
    width: 50%;
}

.content div h1 {
    text-align: center;
}

.content div p {
    font-size: large;
}

footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contacts img {
    max-width: 50px;
    margin: 50px;
}

figcaption p {
    letter-spacing: 1px;
    font-size: large;
}

figcaption h1 {
    letter-spacing: 1px;
}